<!--Swiper-Recommendation-->
<div id="start" class="billboard swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
                <img src="./assets/recommend/4ee860ca-3b62-43fd-b47d-1f45d2649dd8._UR3000,600_SX3000_FMwebp_.jpg" style="height: 100%;">
            <!--<div class="title" data-swiper-parallax="-300">W2W</div>
            <div class="subtitle" data-swiper-parallax="-200">Who we are</div>
            <div class="text" data-swiper-parallax="-100">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
            </div>-->
        </div>
        <div class="swiper-slide">
                <img src="assets/recommend/099fa944-e12f-4432-b0a8-0fca78ca9be8._UR3000,600_SX3000_FMwebp_.jpg" style="height: 100%;">
        </div>
        <div class="swiper-slide">
                <img src="assets/recommend/9704c6fc-5ec7-4aad-bfc6-df34922fbb73._UR3000,600_SX3000_FMwebp_.jpg" style="height: 100%;">
        </div>
        <div class="swiper-slide">
                <img src="assets/recommend/837a3cdd-ac71-4bb0-81b3-b1f70ac4ddaa._UR3000,600_SX3000_FMwebp_.jpg" style="height: 100%;">
        </div>
    </div><!--Ende von Swiper-->
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Add Navigation -->
    <div id="start-bt" class="swiper-button-prev swiper-button-white"></div>
    <div id="start-bt" class="swiper-button-next swiper-button-white"></div>
</div>
<!--Ende von Swiper-Reccomendation-->